{{<govukTemplate}}

  {{$head}}
    <link href="{{{ assetPath }}}stylesheets/style.css" media="screen" rel="stylesheet" type="text/css"/>
  {{/head}}

  {{$headerClass}}with-proposition{{/headerClass}}

  {{$propositionHeader}}
    <div class="header-proposition">
      <div class="content">
        <div id="proposition-menu">
          <h1 id="proposition-name">Hello, world!</h1>
        </div>
      </div>
    </div>
  {{/propositionHeader}}

  {{$content}}
    <main id="content">
      {{$applicationContent}}{{/applicationContent}}
    </main>
  {{/content}}

{{/govukTemplate}}
