{{<layout}}

  {{$applicationContent}}
    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>

    <ul>
      {{#jobs}}
        <li>{{title}}</li>
      {{/jobs}}
    </ul>

    <a href="/{{id}}/jobs/new" class="button">+ Add a job</a>
  {{/applicationContent}}

{{/layout}}
