<ul class="timeline">
  {{#timeline}}
    <li data-test="interview-timeline" class="timeline__item {{class}}">
      <h3 class="bold-small timeline__heading">{{heading}} <span class="visuallyhidden">Status: {{heading}}</span></h3>
      <p class="font-xsmall timeline__message">{{message}}&nbsp;</p>
    </li>
  {{/timeline}}
</ul>
