// Styles taken from http://dwp-patterns.herokuapp.com/

.alert {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  border-left-style: solid;
  border-color: #bfc1c3;
  padding: 0.78947em;
  border-left-width: 10px;
  border-color: #2b8cc4;
  background-color: #e9f3f9;
  margin-bottom: 30px;
}

.alert-warning {
  border-color: #b10e1e;
  background-color: #fbeaea;
}

.alert-success {
  border-color: #28a197;
  background-color: #eaf6f5;
}
