.visuallyhidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.timeline {
  list-style: none;
  margin: 0;
  padding: 0;
}

.timeline * {
  box-sizing: border-box;
}

.timeline__item {
  position: relative;
  font-family: arial;
  padding-top: 20px;
  min-height: 54px;
}

.timeline__item:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 22px;
  width: 22px;
  height: 22px;
  background: white;
  border-radius: 13px;
  border: 4px solid #6F777B;
  z-index: 2;
}

.timeline__item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 9px;
  height: 100%;
  width: 4px;
  background: #6F777B;;
}

.timeline__item--start {
  padding-top: 0;
  min-height: 34px;
}

.timeline__item--start:before {
  top: 0;
}

.timeline__item--finish {
  overflow: hidden;
}

.timeline__item--finish:before {
  top: 20px;
}

.timeline__item--finish:after {
  top: auto;
  bottom: 28px;
}

.timeline__item--finish.timeline__item--complete:after {
  bottom: 54px;
}

.timeline__item--complete:before {
  border-color: #005EA5;
}

.timeline__item--complete:after {
  background: #005EA5;
}

.timeline__item--complete .timeline__heading {
  color: #005EA5;
}

.timeline__item--current {
  margin-bottom: 4px;
}

.timeline__heading {
  margin: 0 0 0 35px;
  padding-top: 3px;
  color: #6F777B;
  font-size: 1.2em;
}

.timeline__item--start .timeline__heading {
  padding-top: 1px;
}

.timeline__message {
  margin: 4px 0 0 35px;
  color: #6F777B;
  font-size: 0.9em;
}