@import '_govuk-elements';
@import 'star-radios';
@import 'colours';
@import 'dwp-elements/_alerts';
@import 'timeline';

//variables
$space_size: 10px;

// layout
.space-top-double {
  margin-top: $space_size * 2;
}

.space-top {
  margin-top: $space_size;
}

.spaced-section {
  margin: 40px 0px 30px 0px;
}

.column-three-quarter {
  @include grid-column(3 / 4);
}

// typography
.center {
  text-align: center;
}

.tablet-right {
  @include media(tablet) {
    text-align: right;
  }
}

.color-text {
  color: $text-colour;
}

dt {
  margin-top: $space_size * 2;
}

// form
.radio-block-label {
  @include media(tablet) {
    display: block;
  }
  @include media(mobile) {
    display: inline-block;
    width: 80px;
  }
}

.form-control-auto {
  width: 100%;
  @include media(tablet) {
    width: auto;
  }
}

// boxes
$box-gutter: $gutter;
$box-border-color: $panel-colour;
.box {
  display: block;
  border: 1px solid $box-border-color;
  padding: $box-gutter;
  margin-bottom: $box-gutter;

  .details-button {
    margin-top: 1em;
    display: inline-block;

    @include media(desktop) {
      margin-top: 0;
      position: relative;
      top: -1em;
    }
  }

  &.box-interested,
  &.box-applied,
  &.box-interview,
  &.box-result {
    position: relative; // make this the positioning parent for absolutely-positioned child elements
    border-right: none;
  }

  &.box-interested:after,
  &.box-applied:after,
  &.box-interview:after,
  &.box-result:after {
    display: block;
    content: " ";
    height: 100%;
    width: 10px;
    position: absolute;
    right: 0;
    padding: 1px 0; /* Top/bottom padding should equal top/bottom border of .box */
    top: -1px; /* Should equal top border of .box */
    bottom: -1px; /* Should equal bottom border of .box */
  }

  &.box-interested:after { background-color: $interested_color; }
  &.box-applied:after { background-color: $applied_color; }
  &.box-interview:after { background-color: $interview_color; }
  &.box-result:after { background-color: $result_color; }
}

.box-section {
  margin-left: -$box-gutter;
  margin-right: -$box-gutter;
  padding: $box-gutter $box-gutter 0 $box-gutter;
  border-top: 1px solid $box-border-color;
}

.box-link {
  text-decoration: none;
  cursor: pointer;

  h1, h2, h3, h4, h5 {
    color: $link-colour;
  }

  &:hover {
    border-color: $black;
  }
}

// buttons
.button-secondary {
  @include button($grey-3);
}

.action-buttons {
  input.button {
    margin-right: 15px;
    margin-top: 10px;
  }
}

button.link-button {
  @extend .link;
  display: inline;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background: transparent;
  font: inherit;
}

// validation
#validation-errors {
  color: red;
  margin-bottom: $space_size;
}

.status-label {
  @include media(tablet) {
    display: block;
  }
  @include media(mobile) {
    display: inline-block;
    width: 80px;
  }
}

.panel-indent {
    border-left: 4px solid #bfc1c3;
    padding: 10px 0 10px 15px;
}
