@import '_govuk-elements';
@import 'star-radios';
@import 'colours';

//variables
$space_size: 10px;

// layout
.space-top-double {
  margin-top: $space_size * 2;
}

.space-top {
  margin-top: $space_size;
}

.column-three-quarter {
  @include grid-column(3 / 4);
}

// typography
.center {
  text-align: center;
}

.tablet-right {
  @include media(tablet) {
    text-align: right;
  }
}

.color-text {
  color: $text-colour;
}

dt {
  margin-top: $space_size * 2;
}

// form
.radio-block-label {
  @include media(tablet) {
    display: block;
  }
  @include media(mobile) {
    display: inline-block;
    width: 80px;
  }
}

.form-control-auto {
  width: 100%;
  @include media(tablet) {
    width: auto;
  }
}

// boxes
$box-gutter: $gutter;
$box-border-color: $panel-colour;
.box {
  display: block;
  border: 1px solid $box-border-color;
  padding: $box-gutter;
  margin-bottom: $box-gutter;

  .details-button {
    margin-top: 1em;
    display: inline-block;

    @include media(desktop) {
      margin-top: 0;
      position: relative;
      top: -1em;
    }
  }

  &.box-interested { border-right: 10px solid $interested_color; }
  &.box-applied { border-right: 10px solid $applied_color; }
  &.box-interview { border-right: 10px solid $interview_color; }
  &.box-result { border-right: 10px solid $result_color; }
}

.box-section {
  margin-left: -$box-gutter;
  margin-right: -$box-gutter;
  padding: $box-gutter $box-gutter 0 $box-gutter;
  border-top: 1px solid $box-border-color;
}

.box-link {
  text-decoration: none;
  cursor: pointer;

  h1, h2, h3, h4, h5 {
    color: $link-colour;
  }

  &:hover {
    border-color: $black;
  }
}

// buttons
.button-secondary {
  @include button($grey-3);
}

.action-buttons {
  input.button {
    margin-right: 15px;
    margin-top: 10px;
  }
}

// validation
#validation-errors {
  color: red;
  margin-bottom: $space_size;
}

.status-label {
  @include media(tablet) {
    display: block;
  }
  @include media(mobile) {
    display: inline-block;
    width: 80px;
  }
}
