@import 'colours';

/* MAXIMUM_HEIGHT... all other values derived from that below*/
$max_height: 120px;
$margin_offset: 40px;

.bubble {
  border-radius: 50%;
  border: 5px solid;
  display: inline-block;
  position: relative;
  background-color: white;
  z-index: 2;
}

.bubble:before {
  content: '';
  position: absolute;
  height: 5px;
  background: #CCC;
}

.bubble:after {
  content: '';
  position: absolute;
  height: 5px;
  background: #CCC;
}

.timeline .bubble:first-child:before
{
  background-color: #FFFFFF;
}

.timeline .bubble:last-child:after
{
  background-color: #FFFFFF;
}

@for $scale from 0 through 6 {
  $scale-factor: $scale * 20px;

  .size-#{$scale} {
    width: $scale-factor;
    height: $scale-factor;
    top: ( $max_height - ( $scale-factor ) ) / 2;
    margin-left: ( ( $max_height - ( $scale-factor ) ) / 2 ) + $margin_offset;
    margin-right: ( ( $max_height - ( $scale-factor ) ) / 2 ) + $margin_offset;
    margin-bottom: ( ( $max_height - ( $scale-factor ) ) / 2 )+ $margin_offset;
    margin-top: $margin_offset;

    &:before {
      top: ($scale-factor / 2) - 2px;
      width: 0px;
      left: -1 * ( ( ( $max_height - ( $scale-factor ) ) / 2 ) + $margin_offset + 7px );
    }
    &:after {
      top: ($scale-factor / 2) - 2px;
      width: 0px;
      right: -1 * ( ( ( $max_height - ( $scale-factor ) ) / 2 ) + $margin_offset + 7px );
    }
  }

  .label-#{$scale} {
    position: relative;
    top:  -40px;
    left:  ( ( $scale-factor ) / 2 ) - 30px;
  }

  @media (min-width: 641px) {
    .size-#{$scale} {
      &:before {
        width: 0px;
      }
      &:after {
        width: 0px;
      }
    }
  }

  @media (min-width: 911px) {
    .size-#{$scale} {
      &:before {
        width: ( ( $max_height - ( $scale-factor ) ) / 2 ) + $margin_offset + 2px;
      }
      &:after {
        width: ( ( $max_height - ( $scale-factor ) ) / 2 ) + $margin_offset + 2px;
      }
    }
  }
}

/* colour per status type */
.interested {
	border-color: $interested_color;
}
.applied {
	border-color: $applied_color;
}
.interview {
	border-color: $interview_color;
}
.result {
	border-color: $result_color;
}
