@import 'colours';

/* MAXIMUM_HEIGHT... all other values derived from that below*/
$max_height: 120px;

.bubble {
  border-radius: 50%;
  border: 5px solid;
  display: inline-block;
  position: relative;
}

/* To draw the linking line between each bubble */
.bubble:before {
  content: '';
  position: absolute;
  height: 5px;
  background: #CCC;
}

.bubble:after {
  content: '';
  position: absolute;
  height: 5px;
  background: #CCC;
}

.timeline-label {
  margin-left: 50px;
  margin-right: 65px;
}

.timeline li:first-child:before
{
  background-color: #FFFFFF;
}

@for $scale from 0 through 6 {
  .size-#{$scale} {
    width: $scale * 20px;
    height: $scale * 20px;
    top: -1 * ( $max_height - ( $scale * 20px ) ) / 2;
    margin-left: ( ( $max_height - ( $scale * 20px ) ) / 2 ) + 30px;
    margin-right: ( ( $max_height - ( $scale * 20px ) ) / 2 ) + 30px;

    &:before {
      top: $scale * 20px / 2;
    }
    &:after {
      top: $scale * 20px / 2;
    }
  }

  .offset-#{$scale} {
    margin-top:  ( $max_height - $scale * 20px ) + 20px;
    margin-bottom:  10px;
  }

  .label-offset-#{$scale} {
    margin-left: ( ( $max_height - ( $scale * 20px ) ) / 2 ) + 30px;
    margin-right: ( ( $max_height - ( $scale * 20px ) ) / 2 ) + 30px;
  }
}

/* colour per status type */
.interested {
	border-color: $interested_color;
}
.applied {
	border-color: $applied_color;
}
.interview {
	border-color: $interview_color;
}
.result {
	border-color: $result_color;
}
