{{<layout}}
  {{$pageTitle}}{{#__}}addWorkSearchNote.pageTitle{{/__}}{{/pageTitle}}
  {{$applicationContent}}
  <div class="add-work-search-note">
    <h2 class="heading-large">{{#__}}addNote.header{{/__}}</h2>

    <p class="text">
      {{#__}}addNote.help{{/__}}
    </p>

      <ul id="validation-errors">
      {{#errors}}
        <li>{{msg}}</li>
      {{/errors }}
    </ul>

    <form method="POST" class="work-search-note-form">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">

      <div class="form-group">
        <textarea class="form-control" id="details" rows="6" name="details"></textarea>
      </div>
      <div class="form-group">
        <input type="submit" class="button" value="{{#__}}addNote.form.submit{{/__}}">
      </div>
    </form>

    <p><a href="{{basePath}}/{{accountId}}">{{#__}}addNote.cancel{{/__}}</a></p>
  </div>

  {{/applicationContent}}

{{/layout}}
