{{<layout}}
  {{$pageTitle}}{{#__}}addJob.pageTitle{{/__}}{{/pageTitle}}
  {{$applicationContent}}
    <h2 class="heading-xlarge">{{#__}}addJob.header{{/__}}</h2>

    <p class="text">
      {{#__}}addJob.help{{/__}}
    </p>

    <ul id="validation-errors">
      {{#errors}}
      <li>{{msg}}</li>
      {{/errors }}
    </ul>

    <form method="POST">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">

      <div class="form-group">
        <label class="form-label" for="job-title">{{#__}}addJob.form.title{{/__}}</label>
        <input class="form-control" id="job-title" type="text" name="title" value="{{title}}">
      </div>
      <div class="form-group">
        <label class="form-label" for="job-employer">{{#__}}addJob.form.employer{{/__}}</label>
        <input class="form-control" id="job-employer" type="text" name="employer" value="{{employer}}">
      </div>

      <fieldset data-test="progression">
        <legend class="heading-medium">{{#__}}updateJob.form.progress{{/__}}</legend>
        {{#progression}}
          <div class="form-group">

            <label class="block-label selection-button-radio" for="job-statusType-{{name}}">{{label}}
              <input id="job-statusType-{{name}}" type="radio" value="{{name}}" name="status"
                     {{#isChecked}}checked{{/isChecked}}>
            </label>
          </div>

          {{>progressionStatusDates}}
        {{/progression}}
      </fieldset>

      <fieldset class="form-group">
        <legend class="heading-medium">{{#__}}addJob.form.sourceType{{/__}}</legend>

        {{#sourceTypeOptions}}
        <label class="block-label" for="job-sourceType-{{value}}">
          <input id="job-sourceType-{{value}}" type="radio" name="sourceType" value="{{value}}" {{#isChecked}}checked{{/isChecked}} >
          {{label}}
        </label>
        {{/sourceTypeOptions}}
      </fieldset>

      <div id="job-sourceUrl-group" class="form-group {{#isSourceUrlHidden}}js-hidden{{/isSourceUrlHidden}}">
        <label class="form-label" for="job-sourceUrl">{{#__}}addJob.form.sourceUrl{{/__}}</label>
        <input class="form-control" id="job-sourceUrl" type="text" name="sourceUrl" value="{{sourceUrl}}">
      </div>

      <fieldset class="star-rating form-group">
        <legend class="heading-medium heading-rating">{{#__}}addJob.form.rating{{/__}}</legend>
        <div class="rating-options-group rating-options-group-enabled">
          {{#ratingOptions}}
            <input type="radio" id="job-rating-{{value}}" name="rating" value="{{value}}"
                   {{#isChecked}}checked{{/isChecked}} >
            <label class="full stars-large" for="job-rating-{{value}}"></label>
          {{/ratingOptions}}
        </div>
      </fieldset>

      <div class="form-group">
        <label class="form-label" for="job-details">More details?(Optional)</label>
        <textarea class="form-control" id="job-details" name="details">{{details}}</textarea>
      </div>

      <div class="form-group">
        <input type="submit" data-test="add-job-button" class="button" value="{{#__}}addJob.form.submit{{/__}}">
      </div>
    </form>

    <p><a href="{{basePath}}/{{accountId}}">{{#__}}addJob.linkBack{{/__}}</a></p>

  {{/applicationContent}}

{{/layout}}
