{{<layout}}
  {{$pageTitle}}{{#__}}addJob.pageTitle{{/__}}{{/pageTitle}}
  {{$applicationContent}}
    <h2 class="heading-xlarge">{{#__}}addJob.header{{/__}}</h2>

    <ul id="validation-errors">
      {{#errors}}
      <li>{{msg}}</li>
      {{/errors }}
    </ul>

    <form method="POST">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">

      <div class="form-group">
        <label class="form-label" for="job-title">{{#__}}addJob.form.title{{/__}}</label>
        <input class="form-control" id="job-title" type="text" name="title" value="{{title}}">
      </div>
      <div class="form-group">
        <label class="form-label" for="job-employer">{{#__}}addJob.form.employer{{/__}}</label>
        <input class="form-control" id="job-employer" type="text" name="employer" value="{{employer}}">
      </div>

      <fieldset data-test="progression">
        <legend class="heading-medium">{{#__}}updateJob.form.progress{{/__}}</legend>
        {{#progression}}
          <div class="form-group">

            <label class="block-label selection-button-radio" for="job-statusType-{{name}}">{{label}}
              <input id="job-statusType-{{name}}" type="radio" value="{{name}}" name="status"
                     {{#isChecked}}checked{{/isChecked}}>
            </label>
          </div>

          {{>progressionStatusDates}}
        {{/progression}}
      </fieldset>

      <div class="form-group">
        <label class="heading-medium heading-rating" for="job-details">More details (optional)</label>
        <p class="text">
          Add other details such as a reference number, a link to the job description, or information
          about the interview
        </p>
        <textarea class="form-control job-details" rows="6" id="job-details" name="details">{{details}}</textarea>
      </div>

      <div class="form-group">
        <input type="submit" data-test="add-job-button" class="button" value="{{#__}}addJob.form.submit{{/__}}">
      </div>
    </form>

    <p><a href="{{basePath}}/{{accountId}}">{{#__}}addJob.linkBack{{/__}}</a></p>

  {{/applicationContent}}

{{/layout}}
