{{<layout}}
  {{$pageTitle}}{{#__}}addJob.pageTitle{{/__}}{{/pageTitle}}
  {{$applicationContent}}
    <h2 class="heading-xlarge">{{#__}}addJob.header{{/__}}</h2>

    <ul id="validation-errors">
      {{#errors}}
      <li>{{msg}}</li>
      {{/errors }}
    </ul>

    <p>{{#__}}addJob.introduction{{/__}}</p>

    <form method="POST">
      <div class="form-group">
        <label class="form-label" for="job-title">{{#__}}addJob.form.title{{/__}}</label>
        <input class="form-control" id="job-title" type="text" name="title" value="{{title}}">
      </div>
      <div class="form-group">
        <label class="form-label" for="job-employer">{{#__}}addJob.form.employer{{/__}}</label>
        <input class="form-control" id="job-employer" type="text" name="employer" value="{{employer}}">
      </div>

      <fieldset class="form-group">
        <legend class="heading-medium">{{#__}}addJob.form.applicationState{{/__}}</legend>
        {{#applicationStateOptions}}
          <label class="block-label" for="job-applicationState-{{value}}">
            <input id="job-applicationState-{{value}}" type="radio" name="applicationState" value="{{value}}" {{#isChecked}}checked{{/isChecked}} >
            {{label}}
          </label>
        {{/applicationStateOptions}}
      </fieldset>

      <fieldset class="form-group">
        <legend class="heading-medium">{{#__}}addJob.form.sourceType{{/__}}</legend>
        {{#sourceTypeOptions}}
        <label class="block-label" for="job-sourceType-{{value}}">
          <input id="job-sourceType-{{value}}" type="radio" name="sourceType" value="{{value}}" {{#isChecked}}checked{{/isChecked}} >
          {{label}}
        </label>
        {{/sourceTypeOptions}}
      </fieldset>

      <div id="job-sourceUrl-group" class="form-group {{#isSourceUrlHidden}}js-hidden{{/isSourceUrlHidden}}">
        <label class="form-label" for="job-sourceUrl">{{#__}}addJob.form.sourceUrl{{/__}}</label>
        <input class="form-control" id="job-sourceUrl" type="text" name="sourceUrl" value="{{sourceUrl}}">
      </div>

      <fieldset class="star-rating form-group">
        <legend class="heading-medium">{{#__}}addJob.form.rating{{/__}}</legend>
        <div class="rating-options-group rating-options-group-enabled">
          {{#ratingOptions}}
            <input type="radio" id="job-rating-{{value}}" name="rating" value="{{value}}"
                   {{#isChecked}}checked{{/isChecked}} >
            <label class="full" for="job-rating-{{value}}"></label>
          {{/ratingOptions}}
        </div>
      </fieldset>

      <div class="form-group">
        <input type="submit" class="button" value="{{#__}}addJob.form.submit{{/__}}">
      </div>
    </form>

    <p><a href="{{basePath}}/{{accountId}}" class="link-back">{{#__}}addJob.linkBack{{/__}}</a></p>

  {{/applicationContent}}

{{/layout}}
