{{<layout}}
  {{$pageTitle}}{{#__}}dashboard.pageTitle{{/__}}{{/pageTitle}}
  {{$applicationContent}}
    <h2 class="heading-xlarge">{{#__}}dashboard.header{{/__}}</h2>

    <div class="column-one-third">
      <div class="padded-column">
        {{>timeline}}
      </div>
      <a href="{{basePath}}/{{accountId}}/jobs/new" class="button">{{#__}}dashboard.add-job-button{{/__}}</a>
    </div>

    <div class="column-two-thirds ">
      {{>sort}}
    </div>

    <div class="column-two-thirds">
      <section class="space-top-double">
        <ul>
          {{#jobs}}
            <li data-test="job-container-{{id}}" id="job-container-{{id}}" class="job-item">
              <div class="box">
                <div class="job-item-first-row">
                  <div class="pull-right right">
                    <dl>
                      <dd class="star-rating">
                        <div class="rating-options-group rating-options-group-disabled">
                          {{#interestLevel}}
                            <input type="radio" data-test="rating"
                                   value="{{value}}" disabled
                                   {{#isChecked}}checked{{/isChecked}} >
                            <label class="full mobile-stars-small"
                                   for="job-rating-{{value}}"></label>
                          {{/interestLevel}}
                        </div>
                      </dd>
                      <dd class="progression-status status-{{statusPriority}}"
                          data-test="status">{{statusString}}</dd>
                      <dd class="progression-status status-{{statusPriority}}"
                          data-test="statusDate">{{statusDateString}}</dd>
                    </dl>
                  </div>
                  <h4 class="bold-small" data-test="title">{{title}}</h4>
                  <p class="color-text" data-test="employer">{{employer}}</p>

                  <p data-test="source" class="text-secondary font-xsmall">{{source}}</p>
                </div>
                <div>
                  <p class="text-secondary font-xsmall pull-right last-updated">
                    {{#__}}dashboard.updatedDate{{/__}}
                    <span data-test="updated">{{updatedFormatted}}</span>
                  </p>
                  <a class="button button-secondary button-same-on-mobile" data-test="update-button"
                     href="{{basePath}}/{{accountId}}/jobs/{{id}}">{{#__}}dashboard.updateJobButton{{/__}}
                  </a>
                </div>
              </div>
            </li>
          {{/jobs}}
        </ul>
      </section>

      {{^hasJobs}}
        <p id="first-use-help">
          {{#__}}dashboard.first-use-help{{/__}}
        </p>
      {{/hasJobs}}
      {{#hasJobs}}
        <p id="has-job-help">
          {{#__}}dashboard.has-job-help{{/__}}
        </p>
      {{/hasJobs}}
    </div>
  {{/applicationContent}}

{{/layout}}
