{{<layout}}

  {{$applicationContent}}
    <h2 class="heading-xlarge">{{#__}}dashboard.header{{/__}}</h2>

    <p>
      {{#__}}dashboard.description{{/__}}
    </p>

    <a href="{{basePath}}/{{accountId}}/jobs/new" class="button">{{#__}}dashboard.add-job-button{{/__}}</a>

    <form class="space-top-double" action="{{basePath}}/{{accountId}}" method="GET">
      <label for="sort">{{#__}}dashboard.sort.label{{/__}}</label>
      <select class="form-control form-control-auto" name="sort" id="sort" onchange="this.form.submit()">
        {{#sortOptions}}
          <option value="{{value}}" {{#selected}}selected{{/selected}}>{{label}}</option>
        {{/sortOptions}}
      </select>
      <input class="button js-hidden" type="submit" value="{{#__}}dashboard.sort.button{{/__}}">
    </form>
    <section class="space-top-double">
      <ul>
        {{#jobs}}
          <li data-test="job-container-{{id}}" id="job-container-{{id}}">
            <div class="box">
              <div class="grid-row">
                <div class="column-three-quarter">
                  <h4 class="bold-small" data-test="title">{{title}}</h4>
                  <p class="color-text" data-test="employer">{{employer}}</p>
                </div>
                <div class="column-one-quarter tablet-right">
                  <dl>
                    <dd class="progression-status" data-test="status">{{statusString}}</dd>
                    <dt>{{#__}}dashboard.deadline{{/__}}</dt>
                    <dd data-test="deadline">{{deadlineFormatted}}</dd>
                  </dl>
                </div>
              </div>

              <a class="button-link details-button" href="#" data-toggle="#job-container-{{id}} .details" data-test="details-button">
                <i class="fa fa-caret-right"></i>
                {{#__}}dashboard.detailsButton{{/__}}
              </a>

              <div class="details js-hidden" data-test="details">
                <dl>
                  <dt class="">{{#__}}dashboard.source{{/__}}</dt>
                  <dd data-test="source">{{source}}</dd>
                  <dt>{{#__}}dashboard.interestLevel{{/__}}</dt>
                  <dd class="star-rating">
                    <div class="rating-options-group rating-options-group-disabled">
                      {{#interestLevel}}
                        <input type="radio" data-test="rating"
                               value="{{value}}" disabled
                               {{#isChecked}}checked{{/isChecked}} >
                        <label class="full" for="job-rating-{{value}}"></label>
                      {{/interestLevel}}
                    </div>
                  </dd>
                </dl>

                <div class="box-section">
                  <h4 class="heading-small">{{#__}}dashboard.progression{{/__}}</h4>

                  <div class="grid-row">
                    <form action="{{basePath}}/{{accountId}}/jobs/{{id}}?_method=PATCH"
                          method="POST">
                      <fieldset>
                        <legend class="visually-hidden">
                          {{#__}}dashboard.progression{{/__}}
                        </legend>

                        {{#progression}}
                          <div class="column-one-quarter center space-top">
                            <div class="form-group">
                              <label class="radio-block-label">{{label}}</label>
                              <input type="radio" value="{{name}}" name="status"
                                     data-test="progression"
                                     data-submit-on-click
                                     {{#isChecked}}checked{{/isChecked}}>
                            </div>
                          </div>
                        {{/progression}}

                      </fieldset>
                      <div class="form-group js-hidden center">
                        <input type="submit" class="button">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </li>
        {{/jobs}}
      </ul>
    </section>

  {{/applicationContent}}

{{/layout}}
