{{<layout}}

  {{$applicationContent}}
    <h2 class="heading-xlarge">{{#__}}dashboard.title{{/__}}</h2>

    <p>
      Add jobs that you're interested or have applied for. You can then track your progress.
    </p>

    <a href="{{basePath}}/{{accountId}}/jobs/new" class="button">+ Add a job</a>

    <section class="space-top-double">
      <ul>
        {{#jobs}}
          <li id="job-{{id}}">
            <div class="box box-link box-fixed-height">
              <div class="grid-row">
                <div class="column-three-quarter">
                  <h4 class="bold-small">{{title}}</h4>
                  <p class="color-text">{{employer}}</p>
                </div>
                <div class="column-one-quarter color-text center">
                  <p class="progression-status">{{status}}</p>
                </div>
              </div>
              <form action="{{basePath}}/{{accountId}}/jobs/{{id}}?_method=PATCH" method="POST">
                <div class="grid-row">
                  <div class="form-group">
                    <fieldset>
                      <legend class="visuallyhidden">Update progression status</legend>
                      {{#progression}}
                        <div class="column-one-quarter center space-top">
                          <label class="radio-block-label">{{name}}</label>
                          <input type="radio" value="{{name}}" name="status"
                                 data-submit-on-click
                                 {{#isChecked}}checked{{/isChecked}}>
                        </div>
                      {{/progression}}
                    </fieldset>
                  </div>
                  <div class="form-group js-hidden center">
                    <input type="submit" class="button">
                  </div>
                </div>
              </form>
            </div>
          </li>
        {{/jobs}}
      </ul>
    </section>

  {{/applicationContent}}

{{/layout}}
