{{<layout}}

  {{$applicationContent}}
    <h2 class="heading-xlarge">Your work search</h2>

    <p>
      Add jobs that you're interested or have applied for. You can then track your progress.
    </p>

    <a href="/{{accountId}}/jobs/new" class="button">+ Add a job</a>

    <section class="space-top-double">
      <ul>
        {{#jobs}}
          <li id="job-{{id}}">
            <div class="box box-link box-fixed-height">
              <div class="grid-row">
                <div class="column-three-quarter">
                  <h4 class="bold-small">{{title}}</h4>
                  <p class="color-text">{{employer}}</p>
                </div>
                <div class="column-one-quarter color-text center">
                  <p class="progression-status">{{status}}</p>
                </div>
              </div>
            </div>
            <form action="/{{accountId}}/jobs/{{id}}?_method=PATCH" method="POST">
              <div class="form-group">
                <fieldset class="inline">
                  <legend class="visuallyhidden">Update progression status</legend>
                  {{#progression}}
                    <label class="block-label">
                      <input type="radio" value="{{name}}" name="status"
                        {{#isChecked}}checked{{/isChecked}}>
                      {{name}}
                    </label>
                  {{/progression}}
                </fieldset>
              </div>
              <div class="form-group">
                <input type="submit" class="button">
              </div>
            </form>
          </li>
        {{/jobs}}
      </ul>
    </section>

  {{/applicationContent}}

{{/layout}}
