{{<layout}}
  {{$pageTitle}}{{#__}}introduction.pageTitle{{/__}}{{/pageTitle}}
  {{$applicationContent}}
    <h2 class="heading-xlarge">{{#__}}introduction.header{{/__}}</h2>


    <p>Use this tool to help with your work search.</p>

    <ol class="list list-number">
      <li>Build a list of jobs you're interested in.</li>
      <li>Update each job when you apply, interview or get a result.</li>
      <li>Go through the list of jobs with your work coach to get support and advice.</li>
    </ol>

    <p>You can come back at any time and add more jobs.</p>
    <p class="form-group"><a class="button" href="{{basePath}}/{{accountId}}" data-test="next">Next</a></p>

  {{/applicationContent}}
{{/layout}}
