{{<layout}}
  {{$applicationContent}}
    <h2 id="heading" class="heading-large">{{#__}}missing-account-id.heading{{/__}}</h2>
    <p>{{#__}}missing-account-id.message{{/__}}</p>
  {{/applicationContent}}
{{/layout}}
