{{<layout}}
  {{$pageTitle}}Test{{/pageTitle}}
  {{$applicationContent}}
    <h2 class="heading-xlarge">Sample form</h2>

    <div>
      <h3>Previous form:</h3>
      sampleDate: {{sampleDate}}<br/>
      sampleDate2: {{sampleDate2}}<br/>
    </div>
    <hr/>

    <form method="POST">
      <div class="form-group panel panel-border-narrow">
        <label class="block" for=""></label>
        <input class="form-control date-real" id="sampleDate" value="{{sampleDate}}" type="date" name="sampleDate"  placeholder="dd/mm/yyyy">

        <input class="form-control datepicker hidden" data-alt-field="#sampleDate" type="text"  placeholder="dd/mm/yyyy">
      </div>


      <div  class="form-group panel panel-border-narrow">
        <label class="block" for=""></label>
        <input class="form-control date-real" id="sampleDate2" value="{{sampleDate2}}" type="date" name="sampleDate2"  placeholder="dd/mm/yyyy">

        <input class="form-control datepicker hidden" data-alt-field="#sampleDate2" type="text" placeholder="dd/mm/yyyy">
      </div>


      <div class="form-group">
        <input type="submit" class="button" value="Post">
      </div>
    </form>





  {{/applicationContent}}

{{/layout}}
