{{<layout}}
  {{$pageTitle}}{{#__}}updateJob.pageTitle{{/__}}{{/pageTitle}}
  {{$applicationContent}}
    <div class="header-with-action">
      <h2 class="heading-xlarge">{{#__}}updateJob.header{{/__}}</h2>
      <form action="{{basePath}}/{{accountId}}/jobs/{{id}}?_method=DELETE" method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <input type="submit" class="button-secondary pull-right"
               value="{{#__}}updateJob.deleteButton{{/__}}"
               data-test="delete-button">
      </form>
      <hr/>
    </div>

    <ul id="validation-errors">
      {{#errors}}
        <li>{{msg}}</li>
      {{/errors }}
    </ul>

    <section>
      <h2 class="heading-large" data-test="title">{{title}}</h2>
      <p data-test="employer">{{employer}}</p>
      <p class="text-secondary font-xsmall" data-test="source">{{sourceUrl}}</p>
    </section>

    <form action="{{basePath}}/{{accountId}}/jobs/{{id}}?_method=PATCH" method="POST">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <fieldset data-test="progression">
        <legend class="heading-medium">{{#__}}updateJob.form.progress{{/__}}</legend>
        {{#progression}}
          <div class="form-group">

            <label class="block-label selection-button-radio" for="job-statusType-{{name}}">{{label}}
            <input id="job-statusType-{{name}}" type="radio" value="{{name}}" name="status"
                   {{#isChecked}}checked{{/isChecked}}>
            </label>
          </div>

          {{>progressionStatusDates}}
        {{/progression}}
      </fieldset>

      <div class="form-group">
        <label class="heading-medium heading-rating" for="job-details">More details? (Optional)</label>
        <p class="text">
          Add other details such as a reference number, a link to the job description, or information
          about the interview
        </p>
        <textarea class="form-control job-details" rows="6" id="job-details" name="details">{{details}}</textarea>
      </div>


      <div class="form-group">
        <input type="submit" data-test="save" class="button" value="{{#__}}updateJob.form.submit{{/__}}">
      </div>

    </form>

    <p><a href="{{basePath}}/{{accountId}}">{{#__}}updateJob.linkBack{{/__}}</a></p>

  {{/applicationContent}}

{{/layout}}
