{{<layout}}
  {{$pageTitle}}{{#__}}updateJob.pageTitle{{/__}}{{/pageTitle}}
  {{$applicationContent}}
    <h2 class="heading-xlarge">{{#__}}updateJob.header{{/__}}</h2>

    <p><a href="{{basePath}}/{{accountId}}" class="link-back">{{#__}}addJob.linkBack{{/__}}</a></p>

  {{/applicationContent}}

{{/layout}}
