{{<layout}}
  {{$pageTitle}}{{#__}}updateJob.pageTitle{{/__}}{{/pageTitle}}
  {{$applicationContent}}
    <div class="header-with-action">
      <h2 class="heading-xlarge">{{#__}}updateJob.header{{/__}}</h2>
      <form action="{{basePath}}/{{accountId}}/jobs/{{id}}?_method=DELETE" method="POST">
        <input type="submit" class="button-secondary pull-right"
               value="{{#__}}updateJob.deleteButton{{/__}}"
               data-test="delete-button">
      </form>
      <hr/>
    </div>

    <section>
      <h2 class="heading-large" data-test="title">{{title}}</h2>
      <p data-test="employer">{{employer}}</p>
      <p class="text-secondary font-xsmall" data-test="source">{{sourceUrl}}</p>
    </section>

    <form action="{{basePath}}/{{accountId}}/jobs/{{id}}?_method=PATCH" method="POST">
      <fieldset data-test="progression">
        <legend class="heading-medium">{{#__}}updateJob.form.progress{{/__}}</legend>
        {{#progression}}
          <div class="form-group">

            <label class="block-label selection-button-radio" for="job-statusType-{{name}}">{{label}}
              <input id="job-statusType-{{name}}" type="radio" value="{{name}}" name="status"
                     {{#isChecked}}checked{{/isChecked}}>
            </label>
          </div>

          {{#hasDateField}}
            <div id="job-statusDateGroup-{{name}}" class="form-group panel panel-border-narrow {{^isChecked}}js-hidden{{/isChecked}}">
              <label class="block" for="job-{{dateField}}">{{dateLabel}}</label>
              <input class="form-control datepicker" data-test="status-date-{{dateField}}" id="job-{{dateField}}"
                     value="{{statusDate}}" type="text" name="{{dateField}}"  placeholder="dd/mm/yyyy">
            </div>
          {{/hasDateField}}

        {{/progression}}
      </fieldset>

      <fieldset class="star-rating form-group" data-test="rating">
        <legend class="heading-medium heading-rating">{{#__}}updateJob.form.rating{{/__}}</legend>
        <div class="rating-options-group rating-options-group-enabled">
          {{#ratingOptions}}
            <input type="radio" id="job-rating-{{value}}" name="rating" value="{{value}}"
                   {{#isChecked}}checked{{/isChecked}} >
            <label class="full stars-large" for="job-rating-{{value}}"></label>
          {{/ratingOptions}}
        </div>
      </fieldset>

      <div class="form-group">
        <input type="submit" data-test="save" class="button" value="{{#__}}updateJob.form.submit{{/__}}">
      </div>

    </form>

    <p><a href="{{basePath}}/{{accountId}}">{{#__}}updateJob.linkBack{{/__}}</a></p>

  {{/applicationContent}}

{{/layout}}
