{{<govukTemplate}}

  {{$head}}
    <link href="{{{ assetPath }}}stylesheets/style.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="{{{ assetPath }}}stylesheets/jquery/jquery-ui.min.css" media="screen" rel="stylesheet" type="text/css"/>
  {{/head}}

  {{$cookieMessage}}
    <p>{{#__}}cookie.pretext{{/__}}. <a href="{{ basePath }}{{#accountId}}{{accountId}}/{{/accountId}}cookie">{{#__}}cookie.linktext{{/__}}</a></p>
  {{/cookieMessage}}

  {{$bodyStart}}
  {{>googleTagManager}}
  {{/bodyStart}}

  {{$headerClass}}with-proposition{{/headerClass}}

  {{$propositionHeader}}
    <div class="header-proposition">
      <div class="content">
        <div id="proposition-menu">
          <h1 id="proposition-name">{{#__}}layout.header{{/__}}</h1>
        </div>
      </div>
    </div>
  {{/propositionHeader}}

  {{$content}}
    <main id="content">
      {{$applicationContent}}{{/applicationContent}}
    </main>
  {{/content}}

  {{$bodyEnd}}
    <script type="text/javascript" src="{{{ assetPath }}}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{{ assetPath }}}js/selection-buttons.js"></script>
    <script type="text/javascript" src="{{{ assetPath }}}js/main.js"></script>
  {{/bodyEnd}}

{{/govukTemplate}}
