{{<govukTemplate}}

  {{$head}}
    <link href="{{{ assetPath }}}stylesheets/style.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="{{{ assetPath }}}stylesheets/jquery/jquery-ui.min.css" media="screen" rel="stylesheet" type="text/css"/>
  {{/head}}

  {{$cookieMessage}}
    <p>{{#__}}cookie.pretext{{/__}}. <a href="{{ basePath }}/{{#accountId}}{{accountId}}/{{/accountId}}cookie">{{#__}}cookie.linktext{{/__}}</a></p>
  {{/cookieMessage}}

  {{$bodyStart}}
  {{>googleTagManager}}
  {{/bodyStart}}

  {{$headerClass}}with-proposition{{/headerClass}}

  {{$propositionHeader}}
    <div class="header-proposition">
      <div class="content">
        <div id="proposition-menu">
            <h1 id="proposition-name"><a href="https://record-prototype.herokuapp.com/claimant/dashboard">{{#__}}layout.header{{/__}}</a></h1>
        </div>
      </div>
    </div>
  {{/propositionHeader}}

  {{$content}}
    <main id="content">
      <a class="link-back" href="https://record-prototype.herokuapp.com/claimant/dashboard">Back</a>
      {{$applicationContent}}{{/applicationContent}}
    </main>
  {{/content}}

  {{$bodyEnd}}
    <script type="text/javascript" src="{{{ assetPath }}}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{{ assetPath }}}js/selection-buttons.js"></script>
    <script type="text/javascript" src="{{{ assetPath }}}js/readmore.min.js"></script>
    <script type="text/javascript" src="{{{ assetPath }}}js/main.js"></script>
  {{/bodyEnd}}

  {{$footerTop}}
    <div>
      <form action="{{basePath}}/{{accountId}}/jobs?_method=DELETE" method="POST">
        <input type="submit" class="button-secondary text-secondary pull-right"
               value="delete all data" style="color: gray"/>
      </form>
    </div>
  {{/footerTop}}

{{/govukTemplate}}
